<div class="list-operator">
        <ul>
            <li> <a routerLink="formEvent">fromEvent</a></li>
            <li> <a routerLink="formEvent">fromEvent</a></li>
            <li> <a routerLink="formEvent">fromEvent</a></li>
            <li> <a routerLink="formEvent">fromEvent</a></li>
            <li> <a routerLink="formEvent">fromEvent</a></li>
            <li> <a routerLink="formEvent">fromEvent</a></li>
            <li> <a routerLink="formEvent">fromEvent</a></li>
            <li> <a routerLink="formEvent">fromEvent</a></li>
            <li> <a routerLink="formEvent">fromEvent</a></li>
          
  
            
        </ul>
</div>
<router-outlet></router-outlet>