<div class="list-operator">
        <ul>
            <li> <a routerLink="formEvent">fromEvent</a></li>
            <li> <a routerLink="interval">Interval</a></li>
            <li> <a routerLink="of-form">of-form</a></li>
            <li> <a routerLink="to-array">ToArray</a></li>
            <li> <a routerLink="custom">CustomObserval</a></li>
            <li> <a routerLink="Map">Map</a></li>
            <li> <a routerLink="pluck">Pluck</a></li>
            <li> <a routerLink="filter">Filter</a></li>
            <li> <a routerLink="take">Take</a></li>
            <li> <a routerLink="retry">Retry</a></li>
        </ul>
</div>
<router-outlet></router-outlet>