<div class="row">
    <div class="col-md-6">
        <h2>Ex-01</h2>
        <hr>
        <p class=" bg-light px-3 py-2  border rounded"> Data <strong>data.....</strong></p>
        <br>
        <p>Data:{{data}}</p>
    </div>

    <div class="col-md-6">
        <h2>Ex-02</h2>
        <hr>
        <ul id="LiId">

        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
            <div class="card">
                <div class="card-header">Mearge All</div>
                <div class="card-body">
                   <ul id="mergeAll">

                    </ul>
                </div>
              </div>
    </div>
</div>